.taco-container {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  background-color: aqua;
}

.taco-walk {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  animation: walky 6s linear infinite alternate;
}

@keyframes walky {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(70vw);
  }
}