<!DOCTYPE html>

<html>

  <head>
  
  </head>

  <nav>
    <a href='/logout' class="util">Logout</a>
    <a href='/profile' class="util">Profile</a>
    <a href='/' class="util">Home</a>
  </nav>

  <body>
      <h1> {{ name }} </h1>
        <div class="content">
          {{ description }}
        </div>
        <div class="ingredients">
          <h2>Ingredients:</h2>
          {{ ingredients }}
        </div>

    </div>
  </body>

  <footer>
    <div class="author">
      <a href="/profile/{{author}}">Author: {{author}}</a>

    </div>
  </footer>

</html>
