<!DOCTYPE html>

<html>

  <head>
  
  </head>

  <nav>
    <a href='/logout' class="util">Logout</a>
    <a href='/profile/{{username}}' class="util">Profile</a>
    <a href='/' class="util">Home</a>
  </nav>

  <body>
      <h1>Name: {{ name }} </h1>
        <div class="content">
          Description: {{ description }}
        </div>
        <div>
           <img src="static/images" alt="food">
        </div>

        <div class="ingredients">
          <h2>Ingredients:</h2>
          {{ ingredients }}
        </div>

	<div class="content">
          <h2>Instructions:</h2>
          {{ instructions }}
        </div>

        <div class="content">
          Skill level necessary: {{ difficulty }}
        </div>


    </div>
  </body>

  <footer>
    <div class="author">
      <a href="/profile/{{author}}">Author: {{author}}</a>

    </div>
  </footer>

</html>
